### Importa e processa dados iniciais

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [0]:
import pandas as pd

# path = 'https://raw.githubusercontent.com/matheusgmaia/csv_conferences/master/'
path = '/content/gdrive/My Drive/Visualização de Dados/lab 1/Dados/'

In [0]:
authors = pd.read_csv(path + 'authors.csv', sep=',\s*', header=None, engine='python')
conferences = pd.read_csv(path + 'conferences.csv', sep=',', engine='python')
ethnicity = pd.read_csv(path + 'ethnicity.csv', sep=',\s*', header=None, engine='python')
papers = pd.read_csv(path + 'papers.csv', header=None)

In [0]:
# fix authors
authors[0] = authors[0].apply(lambda x: x.strip("\""))
authors[2] = authors[2].apply(lambda x: x.strip("\""))
authors.columns = ['paper_key','position_of_author','full_name']

In [0]:
# fix ethnicity
ethnicity = ethnicity.applymap(lambda x: x.strip("\""))
ethnicity.columns = ['name','l0','l1','l2','gender']

In [0]:
# fix papers
papers.columns = ['global_key','paper_key','conf_key','link','title','pages','citations']
# papers['pages'].value_counts()

### Organização dos dados para a criação das visualizações

- Como se deu a participação feminina nas conferências, ao longo dos anos?

In [0]:
auth_etn = pd.merge(authors.rename(columns={'full_name':'name'}),ethnicity,on='name')
conferences = conferences.rename(columns={'title':'conf_title','link':'conf_link'})
aux = pd.merge(papers,auth_etn,on='paper_key')
data_authors = pd.merge(aux,conferences,on='conf_key')

data_authors.drop('global_key_y', axis=1, inplace=True)
data_authors.rename(columns={'global_key_x':'global_key'}, inplace=True)

In [0]:
# group by conf_key, year and gender
gender_year = data_authors.groupby(['year','gender'])[['year']].count().rename(columns={'year':'count'})
gender_year.to_csv(path + 'gender_year.csv')

- Qual domínio de conferência apresenta a participação feminina mais crescente ao longo dos anos?

In [9]:
import numpy as np
dummies = data_authors[['cs','de','se','th']]
# pd.Series(dummies.columns[np.where(dummies != 0)[1]]).shape

data_authors['conf_domain'] = (dummies == 1).idxmax(1)
data_authors.drop(['cs','de','se','th'], axis=1, inplace=True)
data_authors['conf_domain'].unique()

array(['cs', 'de', 'th', 'se'], dtype=object)

In [0]:
conf_domain = data_authors[data_authors['gender'] != '-'].groupby(['year','gender','conf_domain'])[['conf_domain']].count().rename(columns={'conf_domain':'count'})
conf_domain.to_csv(path + 'conf_domain.csv')

In [0]:
data_authors['conf_key'].unique().shape

data_authors[data_authors['gender'] != '-'].groupby(['year','gender','conf_key'])[['conf_key']].count().rename(columns={'conf_key':'count'})

In [47]:
cs_domain[cs_domain['gender'] == 'F'].columns

Index(['global_key', 'paper_key', 'conf_key', 'link', 'title', 'pages',
       'citations', 'position_of_author', 'name', 'l0', 'l1', 'l2', 'gender',
       'year', 'publisher', 'conf_title', 'conf_link', 'conf_domain'],
      dtype='object')

In [0]:
cs_domain = data_authors[data_authors['conf_domain'] == 'cs']
cs_domain[cs_domain['gender'] == 'F']['position_of_author'].unique()

pos_author = cs_domain[cs_domain['gender'] != '-'].groupby(['year','gender','position_of_author'])[['position_of_author']].count().rename(columns={'position_of_author':'count'})

# pos_author.to_csv(path + 'pos_author.csv')

In [59]:
# cs_domain[cs_domain['gender'] != '-'].groupby(['year','gender','l0'])[['l0']].count().rename(columns={'l0':'count'}).to_csv(path + 'etn.csv')
cs_domain[cs_domain['gender'] != '-'].groupby(['year','gender','l1'])[['l1']].count().rename(columns={'l1':'count'})

                                count
year gender l1
2000 F      Africans               14
            British               261
            EastEuropean           47
            GreaterEastAsian      228
            IndianSubContinent     83
            Jewish                143
            Muslim                 18
            WestEuropean          172
     M      Africans               90
            British              1126
            EastEuropean          208
            GreaterEastAsian      636
            IndianSubContinent    548
            Jewish                696
            Muslim                182
            WestEuropean          903
2001 F      Africans               11
            British               285
            EastEuropean           58
            GreaterEastAsian      263
            IndianSubContinent    110
            Jewish                146
            Muslim                 40
            WestEuropean          218
     M      Africans              118
            British              1128
            EastEuropean          235
            GreaterEastAsian      782
            IndianSubContinent    587
            Jewish                769
...                               ...
2015 F      EastEuropean          285
            GreaterEastAsian     2907
            IndianSubContinent    407
            Jewish                436
            Muslim                256
            WestEuropean         1045
     M      Africans              473
            British              3549
            EastEuropean         1156
            GreaterEastAsian     5974
            IndianSubContinent   2129
            Jewish               2090
            Muslim               1079
            WestEuropean         4587
2016 F      Africans              126
            British               837
            EastEuropean          292
            GreaterEastAsian     2956
            IndianSubContinent    476
            Jewish                433
            Muslim                300
            WestEuropean          925
     M      Africans              471
            British              3295
            EastEuropean          962
            GreaterEastAsian     5806
            IndianSubContinent   2092
            Jewish               1832
            Muslim               1085
            WestEuropean         3945

[272 rows x 1 columns]